.header__lang-link {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    margin: 0;
    text-decoration: none;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__lang-link:hover {
    transition: all 0.5s linear;
    opacity: 30%;
}