.cover__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 32px;
    width: 100%;
    padding: 245px 0;
    z-index: 2;
}

.cover__link:hover {
    background: rgba(42, 44, 47, 0.8);
}

.cover__link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(42, 44, 47, 0.3);
    z-index: -1;
}

/*при разрешении от 0 до 1024px */

@media screen and (max-width: 760px) {

    .cover__link {
        padding: 195px 0;
    }
}

/*при разрешении от 0 до 768px */

@media screen and (max-width: 768px) {

    .cover__link {
        padding: 115px 0;
    }
}

/*при разрешении от 0 до 320px */

@media screen and (max-width: 320px) {

    .cover__link {
        padding: 33px 0;
    }
}