.place__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    color: #fff;
    grid-area: title;
    margin: 0;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .place__title {
        font-size: 32px;
        line-height: 35px;
        padding-left: 16px;
    }
}

/*при разрешении от 767 до 1023px */
/*разрешение 768px */

@media screen and (min-width: 767px) and (max-width: 1023px) {

    .place__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 330px;
    }
}