.header__lang-link-container {
    padding-right: 48px;
    display: flex;
    gap: 18px;
    align-items: center;
}


/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .header__lang-link-container {
        padding-right: 16px;
    }
}

/*при разрешении от 767 до 1023px */
/*разрешение 768px */

@media screen and (min-width: 767px) and (max-width: 1023px) {

    .header__lang-link-container {
        padding-right: 24px;
    }
}