.cover__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #fff;
    max-width: 360px;
    margin: 0;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
    }
}