.header {
    width: 100%;
    padding: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    overflow: hidden;
}

/*при разрешении от 0 до 760px */
/*разрешение 320px */

@media screen and (max-width: 760px) {

    .header {
        padding-top: 16px;
    }
}


/*при разрешении от 761 до 1023px */
/*разрешение 768px */

@media screen and (min-width: 761px) and (max-width: 1023px) {}

/*при разрешении от 0 до 1279px */
/*разрешение 320, 768, 1024px */

@media screen and (max-width: 1279px) {

    .header {
        padding-bottom: 48px;
    }
}