.header {
    width: 100%;
    padding: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .header {
        padding-top: 16px;
    }
}