.footer__links-link {
    color: #fff;
    text-decoration: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}

.footer__links-link:hover {
    transition: all 0.5s linear;
    opacity: 80%;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .footer__links_link {
        font-size: 24px;
        line-height: 24px;
    }
}