.lead__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #fff;
    max-width: 720px;
    margin: 0;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}