.lead__title {
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
    color: #fff;
    max-width: 720px;
    min-height: 200px;
    margin: 0;
}