.place__paragraph {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: #fff;
    margin: 0;
}

/*при разрешении от 767 до 1023px */
/*разрешение 320px, 768px */

@media screen and (max-width: 1023px) {

    .place__paragraph {
        font-size: 16px;
        line-height: 26px;
    }
}