.footer__copyright {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    flex-grow: 3;
    text-align: right;
    color: #fff;
    margin: 0;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .footer__copyright {
        font-size: 24px;
        line-height: 24px;
    }
}