.lead__subtitle {
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: #fff;
    min-height: 72px;
    margin: 32px auto 64px;
    display: inline;
}