.cover {
    min-height: 740px;
    width: 100%;
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-size: 100%;
    z-index: 1;
}

.cover::before {
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../../images/__background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
    z-index: -1;
}

.cover:hover::before {
    opacity: 0.3;
}


/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .cover {
        gap: 16px;
        min-height: 200px;
    }
}