@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);


@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/_active/header__lang-link_active.css);
@import url(../blocks/header/__lang-link/_position/header__lang-link_position.css);

@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__image-route/lead__image-route.css);
@import url(../blocks/lead/__caption/lead__caption.css);

@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/intro/__list-text/intro__list-text.css);
@import url(../blocks/intro/__list-text/_span-accent/intro__list-text_span-accent.css);

@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/photo-grid/__item/_item1/photo-grid_item_item1.css);
@import url(../blocks/photo-grid/__item/_item2/photo-grid_item_item2.css);
@import url(../blocks/photo-grid/__item/_item3/photo-grid_item_item3.css);
@import url(../blocks/photo-grid/__item/_item4/photo-grid_item_item4.css);
@import url(../blocks/photo-grid/__item/_item5/photo-grid_item_item5.css);
@import url(../blocks/photo-grid/__item/_item6/photo-grid_item_item6.css);
@import url(../blocks/photo-grid/__item/_item7/photo-grid_item_item7.css);
@import url(../blocks/photo-grid/__item/_item8/photo-grid_item_item8.css);
@import url(../blocks/photo-grid/__item/_item9/photo-grid_item_item9.css);
@import url(../blocks/photo-grid/__item/_item10/photo-grid_item_item10.css);
@import url(../blocks/photo-grid/__item/_item11/photo-grid_item_item11.css);
@import url(../blocks/photo-grid/__item/_item12/photo-grid_item_item12.css);

@import url(../blocks/places/places.css);

@import url(../blocks/place/places__place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/place/__website-url-heading/place__website-url-heading.css);
@import url(../blocks/place/__website-link/place__website-link.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__links/footer__links.css);
@import url(../blocks/footer/__links-link/footer__links-link.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../vendor/media-queries.css);