.lead__caption {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-align: left;
    color: #fff;
    align-self: flex-start;
    padding-top: 8px;
    margin: 0;
    text-transform: uppercase;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .lead__caption {
        padding-top: 4px;
        padding-left: 16px;
    }
}

/*при разрешении от 767 до 1023px */
/*разрешение 768px */

@media screen and (min-width: 767px) and (max-width: 1023px) {

    .lead__caption {
        padding-left: 24px;
    }
}