.place {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px;
    column-gap: 40px;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "title link"
        "image paragraph"
        "image paragraph";
}