.footer {
    display: flex;
    padding: 92px 48px 24px;
    column-gap: 18px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1184px;
    overflow: hidden;
}

/*при разрешении от 0 до 1024px */

@media screen and (max-width: 1024px) {

    .footer {
        padding: 92px 48px 24px;
    }
}

/*при разрешении от 0 до 768px */

@media screen and (max-width: 768px) {

    .footer {
        padding: 85px 24px 24px;
    }
}

/*при разрешении от 0 до 320px */

@media screen and (max-width: 320px) {

    .footer {
        flex-direction: column;
        width: auto;
        align-self: flex-start;
        gap: 48px;
        padding-bottom: 24px;
        padding-top: 64px;
        padding-left: 16px;
    }
}