.place__website {
    display: flex;
    outline: 5px color green;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 12px;
}

/*при разрешении от 0 до 760px */

@media screen and (max-width: 760px) {

    .place__website {
        padding-left: 16px;
    }
}